# Visual Studio
.vs/
**/bin/
**/obj/

# Windows
desktop.ini

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono / Xamarin
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
arm/
arm64/

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
TestResults/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
*.sln.iml

# Temporary files
*.tmp
*.cache
*.pdb

# Node
node_modules/
